*{
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    width: 100%;
    height: 68px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    
}
.logo{
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.logo img{
    height: 58px;
    width: 58px;
    margin-right: 20px;
}
.logo p{
    font-family: 'Mulish';
    font-weight: 900px;
    padding: 0;
    margin: 0;
    color: #ffffff;
}
.menu{
    margin-right: 50px;
}
.menu > ul {
    display: flex;
    list-style: none;
}
.menu  ul  li{
    margin: 0 50px;
}
.menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Mulish';
    font-weight: 700px;
    font-size: 14px;
}
.menu ul li:last-child a{
    padding: 8px 25px;
    background-color: #ffffff;
    color: #088014;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hamburger{
    display: none;
}
.mobile-menu{
    position: absolute;
    transform: translateX(-100%);
    /* display: none; */
}

@media screen and (max-width:767px) {
    .menu{
        display:none;
    }
    .logo{
        margin-left: 20px;
    }
    .hamburger{
        display: block;
        height: 47px;
        width: 49px;
        border:  2px  solid #ffffff;
        margin-right: 36px;
        cursor: pointer;
    }
    .hamburger span{
        height: 0;
        width: 32px;
        border:  2px  solid #fffdfd;
        display: block;
        margin: 9px 6px;
    }
    .mobile-menu{
        top: 68px;
        width: 50%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-in-out;
    }
    .mobile-menu ul{
        margin-left: 20px;
        list-style: none;
    }
    .mobile-menu ul li{
        margin-bottom: 30px;
    }
    .mobile-menu ul li a{
        text-decoration: none;
        color: #ffffff;
        font-family: 'Mulish';
        font-weight: 700px;
        font-size: 14px;
    }
}