.main-container{
    position: relative;
    width: 100%;
    /* height: 500px; */
}

.main-container .flag img{
    width: 100%;
    height: 500px;
}

.main-container .main{
    width: 100%;
    position: absolute;
    top: 190px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
}
.main-container .main h1{

font-family: Mulish;
font-style: normal;
font-weight: 900;
font-size: 51px;
line-height: 126.5%;
text-align: center;

color: #000000;
}

.main-container .main button{
    color:#088014;
    padding: 5px 22px;

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.main-container button img{
    padding: 0px 5px;
    
}

.main-container .ise .iseimg{
    position: absolute;
    top: 195px;
    right: 0px;
    
}

@media screen and (max-width:767px) {
    .main-container .ise .iseimg{
        position: absolute;
        top: 195px;
        display: flex;
        margin-right: 30%;
        /* width: 50%; */
        
    }
    .main-container .main{
        width: 100%;
        position: absolute;
        top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-container .main h1{

        font-family: Mulish;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 126.5%;
        text-align: center;
        color: #000000;
    }
    .main-container .main button{
        color:#088014;
        padding: 2px 3px;
    
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
    }
    
    .main-container button img{
        padding: 0px 5px;
        
    }

}
@media screen and (max-width:600px) {
    .main-container .ise .iseimg{
        position: absolute;
        top: 195px;
        display: flex;
        margin-right: 25%;
        /* width: 50%; */
        
    }
}
