.project{
    position: relative;
    background-color: #F6F8F9;
    position: relative;
    width: 100%;
    height: 1090px;
    display: flex;
    justify-content: center;
    
}

.project .projectcontent{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 70%;
    position: absolute;
    /* align-content: center; */
}

.project .projectcontent .fcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.project .projectcontent .fcontent h1{
    /* Projects */
    margin-top: 100px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 68px;
    line-height: 60px;
    text-decoration-line: underline;

    color: #088014;
} 
.project .projectcontent .fcontent p{
    /* HON. JUDE ISE-IDEHEN, a representative of Egor/Ikpoba-Okha Federal Constituency in the House of Representatives organised several projects collobrating with different organisations. */
    margin-top: 100px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    text-align: center;

    color: #000000;
} 

.project .projectcontent .scontent{
    margin-top: 80px;
    width: 100%;
    display: grid;
    grid-gap: 20%;
} 
.project .projectcontent .scontent .p1{
    display: flex;
    flex-direction: column; 
    align-items: center;
    align-self: center;
} 
.project .projectcontent .scontent .p1 p{
    width: 70%;
    align-content: center;
    text-align: center;
}
.project .projectcontent .scontent .p2{
    display: flex;
    flex-direction: column; 
    align-items: center;
    align-self: center;
} 
.project .projectcontent .scontent .p2 p{
    width: 70%;
    align-content: center;
    text-align: center;
}
.project .projectcontent .scontent .p3{
    margin-top: -50px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    align-self: center;
    grid-column: 1 / span 2;
} 
.project .projectcontent .scontent .p3 p{
    margin-left: 35%;
    margin-right: 35%;
    align-content: center;
    text-align: center;
}

@media screen and (max-width:767px){
    .project .projectcontent .fcontent h1{
        margin-top: 90px;
        font-weight: 700;
        font-size: 48px;
        line-height: 0px;

    } 
    .project .projectcontent .fcontent p{
        /* HON. JUDE ISE-IDEHEN, a representative of Egor/Ikpoba-Okha Federal Constituency in the House of Representatives organised several projects collobrating with different organisations. */
        margin-top: 30px;
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
    } 
    .project .projectcontent .scontent{
        margin-top: 20px;
        width: 100%;
        display: block;

    } 
    .project .projectcontent .scontent .p2{
        margin-top: 10px;
    }
    .project .projectcontent .scontent .p3{
        margin-top: 10px;
    }
}