*{
    margin: 0;
    padding: 0;
}

.top{
    position: relative;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:767px) {
    .img3{
        margin-left: -40px;
    }
    .img2 {
        display:none;
    }
    
}